.card__inner {
  width: 100%;
  display: flex;
  background-color: #eee;
  justify-content: space-evenly;
}
.card {
  background-color: #fff;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 0 25px 1px;
}
.card h3 {
  padding: 10px;
}
.card img {
  width: 100px;
  margin-bottom: 20px;
}
.desc p {
  color: rgb(71, 71, 71);
  font-size: 14px;
  line-height: 1.7;
}
