.imgText__inner {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.imgText__inner h3 {
  font-size: 25px;
}
.imgText__inner span {
  font-size: 20px;
  color: #ccc;
}
.imgText {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.imgText img {
  width: 100px;
}
.imgText h3 {
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}
