.per-control {
  padding: 40px 0;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.per-title img {
  width: 250px;
}
.title {
  padding: 10px;
  font-size: 18px;
}
.per-next {
  margin-left: 10px;
}

.per-prev {
  margin-left: 20px;
}

.per-arrow {
  display: flex;
}

.per-next:hover,
.per-prev:hover {
  transform: scale(1.1);
}

.per-next,
.per-prev {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 1px solid #111111;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.per-carousel {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 350px;
  margin: 50px auto auto;
}

.per-carousel .item {
  max-width: 250px;
  height: 300px;
  width: 100%;
  background-color: white;
  transition: height 0.3s, left 0.3s, box-shadow 0.3s;
  position: absolute;
}

.before-item {
  left: -70%;
  cursor: pointer;
}

.center-item {
  height: 350px !important;
  left: 0;
}

.after-item {
  left: 70%;
  cursor: pointer;
}

.per-line {
  width: 80%;
  background-color: #111111;
  height: 1px;
  position: relative;
}

.actual-line {
  transition: width 0.3s;
  background-color: #74d064;
  height: 3px;
  position: absolute;
  top: -1px;
  left: 0;
}

.per-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.per-title {
  font-size: 30px;
}
