/* headerType */
.header__inner {
    width: 100%;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background: #fff;
    text-align: center;
    flex-direction: column;
}
.header__logo {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.header__logo em {
    font-size: 30px;
    padding: 5px;
}
.header__menu {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.header__menu li {
    display: inline-block;
    padding: 0px 54px;
}
.header__menu li a {
    padding: 10px;
}

.header__menu li a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
@media (max-width: 700px) {
    .header__inner {
        font-size: 15px;
    }
}
